body {
  margin: auto;
  max-width: 680px;
  padding: 8px;
  font: 1rem/1 Helvetica;
}

#grid {
  display: grid;
  aspect-ratio: 1;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  gap: 4px;
  max-width: 100%;
}

button {
  border: 2px solid #ccc;
  border-radius: 6px;
  background: none;
  font-size: small;
}

button {
  pointer-events: none;
}

:root:has([value="operative"]:checked) #grid button:enabled {
  color: unset !important;
}

button:disabled {
  border-color: currentColor;
}

button {
  overflow-wrap: anywhere;
}

#turn {
  text-transform: capitalize;
}

:root:has([value="red"]:checked):has(.red) button,
:root:has([value="blue"]:checked):has(.blue) button {
  pointer-events: unset;
}

:root:has([value="spymaster"]:checked) button {
  pointer-events: none !important;
}
